.product-container-laptop {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  gap: 100px;
  margin-bottom: 200px;
  flex-wrap: wrap;
  row-gap: 70px;
  column-gap: 60px;
  color: white;



}

.product-box-laptop img {
  width: 500px;
  height: 370px;
  background: rgb(24, 23, 23);
  transition: 0.8s;
  background-position: center;
  max-width: 100%;
  border-radius: 30px;
}

.product-box-laptop h2 {
  text-align: center;
  line-height: 2.5;
}

.product-box-laptop p {
  text-align: center;
  line-height: 1.4;


}

.product-box-laptop .opcije {
  text-align: center;
}

.product-box-laptop .opcije a {
  color: black;
  background-color: white;
  display: inline-block;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  margin-top: 20px;
}