.div_slike {
  padding-top: 220px;
}

.pocetne-slike {

  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: center;
  display: flex;
  row-gap: 10px;
  column-gap: 50px;




}

.slika img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  cursor: pointer;




}


.text-slike {
  padding: 3px;
  box-sizing: border-box;
  position: relative;
  color: white;
  bottom: 80px;
  width: inherit;
  text-align: center;




}






.slika img {
  cursor: pointer;

  transition: 0.8s;


}

.slika img:hover {
  transform: scale(1.2);
}





/*main pocetne slike*/