.product-container-ram {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  gap: 100px;
  margin-bottom: 200px;
  flex-wrap: wrap;
  row-gap: 70px;
  column-gap: 60px;
  color: white;



}

.product-box-ram img {
  width: 700px;
  height: 350px;
  background: rgb(24, 23, 23);
  transition: 0.8s;
  background-position: center;
  max-width: 100%;
}

.product-box-ram h2 {
  text-align: center;
}

.product-box-ram p {
  text-align: center;


}

.product-box-ram .opcije {
  text-align: center;
}